{% extends 'blog/base.html' %}
{% block title %}<title>Tyler Hallada</title>{% endblock %}
{% block content %}
{% load i18n %}
<div class="row-fluid single-content">
    <h2 class="about-title">About Me</h2>
    <div class="image">
        <img src="https://graph.facebook.com/tyler.hallada/picture?type=large" style="border-radius:10px" />
    </div>
    <div class="text">
        <p>I'm an undergraduate student at
        <a href="http://www.northeastern.edu/">Northeastern University</a> (and
        previously from
        <a href="http://gmu.edu">George Mason University</a>)
        studying computer science and english. I'm currently working with the
        <a href="http://media.mit.edu/">MIT Media Lab</a> for the summer on
        <a href="http://fluid.media.mit.edu/">Fluid Interfaces</a>. I have also
        interned with <a href="http://zulip.com">Zulip</a> and
        <a href="http://valti.com">Valti</a>.</p>

        <p>See my <a href="/resume">resume</a> for my full list of
        experiences and accomplishments</a>.</p>

        <p>My main hobbies include programming, hacking, writing, reading, and
        staying up far too late researching whatever's interesting. You'll
        probably get a better sense of me and my endevours by reading my
        <a href="/">blog</a>.</p>

        <p>I also enjoy to teach the things I love to learn. I have been an
        undergraduate teacher assistant for the Computer Science department at
        GMU and a training and certification instructor for
        <a href="http://ittraining.gmu.edu/">TOPS</a> at GMU. And, I've
        volunteered at various workshops with
        <a href="http://esp.mit.edu/about/welcome.html">The MIT Educational Studies Program</a>,
        the <a href="http://www.meetup.com/bostonpython/">Boston Python User Group</a>,
        and <a href="https://openhatch.org/">OpenHatch</a>.</p>

        <p>You can contact me at <a href="mailto:tyler@hallada.net">tyler@hallada.net</a>
        or any of the social media sites listed on the sidebar.</p>
    </div>
</div>
{% endblock %}
