{% extends 'blog/base.html' %}
{% block title %}<title>Tyler Hallada</title>{% endblock %}
{% block content %}
{% load i18n %}
<div class="row-fluid single-content">
    <h2 class="about-title">About Me</h2>
    <div class="image">
        <img src="https://graph.facebook.com/tyler.hallada/picture?type=large" style="border-radius:10px" />
    </div>
    <div class="text">
        <p>I'm a student at <a href="http://gmu.edu">George Mason University</a> studying computer science and english. I'm also currently consulting with <a href="http://valti.com">Valti</a> as a web developer.</p>
        <p>See my <a href="{% url resume %}">resume</a> for my full list of experiences and accomplishments</a>.</p>
        <p>My main hobbies include programming, hacking, writing, reading, and staying up far too late researching whatever subject fancies me. You'll probably get a better sense of me and my endevours by reading my <a href="/">blog</a>.</p>
        <p>My <a href="http://stream.hallada.net">tumblr</a> is the place where I post snippets of my writing, quotes that I like, and generally other less professional things.</p>
        <p>You can contact me at <a href="mailto:tyler@hallada.net">tyler@hallada.net</a> or any of the social media sites listed on the sidebar.</p>
    </div>
</div>
{% endblock %}
