{% extends 'blog/base.html' %}
{% block title %}<title>Tyler Hallada - Projects</title>{% endblock %}
{% block content %}
        {% load i18n %}
    {% load markdown_deux_tags %}
    <style>div.content-area { max-width: 800px; }</style>
    {% for project in projects %}
    <div id="project_{{ project.id }}">
        <div class="row-fluid header">
            <div class="entry-title">
                <h2><a href="{{ project.link }}">{{ project.title }}</a></h2>
            </div>
            <div class="entry-date">
                <small>
                    {% if project.is_finished %}
                    <i class="icon-ok"></i> Finished
                        {% if project.done_date %} on {{ project.done_date }}{% endif %}
                    {% else %}
                        <i class="icon-wrench"></i> In Progress
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
    {% if project.img_link %}
        <div class="image">
            <a href="{{ project.link }}"><img src="{{ project.img_link }}" class="img-polaroid" /></a>
        </div>
    {% endif %}
    <div class="row-fluid content">
        {{ project.desc|markdown:"post_style" }}
    </div>
    {% empty %}
    <div class="single-content">
        <p>{% trans "There are no projects here yet." %}</p>
    </div>
    {% endfor %}
    <div class="pagination pagination-centered">
        <ul style="background:white;">
            <li{% if not projects.has_previous %} class="disabled"><span>«</span>{% else %}<a href="?page={{ projects.previous_page_number }}">«</a>{% endif %}</li>
            {% for page in projects.paginator.page_range %}
            <li{% if page == projects.number %} class="active"><span>{{ page }}</span>{% else %}<a href="?page={{ page }}">{{ page }}</a>{% endif %}</li>
            {% endfor %}
            <li{% if not projects.has_next %} class="disabled"><span>»</span>{% else %}<a href="?page={{ projects.next_page_number }}">»</a>{% endif %}</li>
        </ul>
    </div>
{% endblock %}
