/* Base Formatting */
body {
    background: url(/static/admin/img/diagonal-noise.png) repeat;
    font-size: 16px;
}
hr {
    margin-top: 0px;
    margin-bottom: 5px;
}
div.row-fluid.blog-header {
    padding-top:10px;
}
a {
    color:FireBrick;
}
a:visited {
    color:#663366;
}
a:hover {
    color:FireBrick;
    text-decoration: underline;
}
#navtab {
    background: White;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
#navtab a:visited {
    color: FireBrick;
}
.nabtab-row {
    margin-right:10px;
}
.content {
    background: White;
    padding: 0px 10px 10px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content-area {
    margin-right: 20px;
    max-width: 700px;
}
.header {
    background: White;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
span.blog-header {
    color:Gray;
}
span.blog-header a:visited {
    color: FireBrick;
}
.social-media {
    text-align:center;
    margin-left:-5%;
}
.social-media a {
    margin-right:5%;
    margin-left:5%;
}

/* Detail Formatting */
.row-fluid.comment {
    background:White;
    border-radius:10px;
    padding:10px;
    margin-top: 20px;
}
.comment-content {
    margin-left:20px;
    float: left;
    width: 100%;
    display: inline-block;
}
#id_comment {
    width:75%;
}
.comment-header {
    width: 100%;
    display: inline-block;
}
.comment-info {
    float:left;
}
.comment-divider {
    width: 100%;
    display: inline-block;
}
.comment-actions {
    float:right;
}
#preview {
    font-size:14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#preview-content {
    margin-left:20px;
}

/* Index Formatting */
.entry-title {
    float:left;
}
.entry-title h1,h2,h3 {
    margin-top:0px;
}
.entry-date {
    float:right;
    margin-top:5px;
}
.entry-comment-count {
    float:left;
}
.entry-tags {
    float:right;
}
.archive-link {
    margin-top:10px;
}
.label {
    background-color:RosyBrown;
}

/* About Formatting */
.single-content {
    background: White;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top:20px;
    margin-right:-20px;
}
.about-title {
    color:gray;
    text-align:center;
}
.image {
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Laundry Formatting */
body.laundry  {
    background: #000000;
}
div.hall-select-container {
    text-align: center;
    margin-top: 10px;
}
div.chart-container {
    text-align: center;
}
select#hall-select {
    background: #202020;
    border: 0;
    color: #888888;
    width: 350px;
}
#current-svg {
    margin-left: 125px;
}
p.error {
    color: FireBrick;
    width: 600px;
    display: block;
    margin: 30px auto;
}

/* Projects Formatting */
@media (max-width: 480px) { .image { width: 100%; } }
