{% extends 'blog/base.html' %}
{% block title %}<title>Tyler Hallada - Archive</title>{% endblock %}
{% block content %}
    <div class="single-content">
        {% load i18n %}
        {% load markdown_deux_tags %}
        
        <ul type=none style="padding:0;">
        {% for entry in entries %}
        <li><a href="{{ entry.1.get_absolute_url }}">{{ entry.0 }} -- {{ entry.1.title }}</a></li>
        {% empty %}
            <p>{% trans "There are no blog entries to show." %}</p>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
