<!DOCTYPE html>
<html>
{% block head %}
<head>
    <meta charset="utf-8">
    {% block title %}<title>Tyler Hallada</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <link href="/static/admin/img/glyphicons-halflings.png" rel="icons">
</head>
{% endblock %}
<!-- Navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://hallada.net">Tyler Hallada</a>
            <ul class="nav">
                {% block nav %}
                <li>
                    <a href="{% url index %}">Blog</a>
                </li>
                <li>
                    <a href="{% url archive %}">Archive</a>
                </li>
                <li>
                    <a href="http://hallada.net/projects">Projects</a>
                </li>
                {% endblock %}
            </ul>
        </div>
    </div>
</div>
<!-- Top Spacer -->
<div class = "row">
    <br /><br />
</div>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="row sidebar">
            <div class="span2">
                <div class="row">
                    <ul>
                        <li>
                            <a href="{% url index %}">Blog</a>
                        </li>
                        <li>
                            <a href="{% url archive %}">Archive</a>
                        </li>
                        <li>
                            <a href="http://hallada.net/projects">Projects</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Placeholder -->
                    <img src="https://graph.facebook.com/tyler.hallada/picture/?type=large" alt="profile picture" />
                </div>
            </div>
            <!-- Content Area -->
            <div class="span10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>
<link href="/static/admin/css/style.css" rel="stylesheet">
</html>
