{% extends 'blog/base.html' %}
{% block title %}<title>{{ entry.title }}</title>{% endblock %}
{% block content %}
{% load i18n %}
{% load markdown_deux_tags %}
<div class="row-fluid header">
    <div class="entry-title">
        <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
    </div>
    <div class="entry-date">
        <small>Posted on {{ entry.pub_date }}</small>
    </div>
</div>
<div class="row-fluid content">
        {{ entry.text|markdown:"post_style" }}
</div>
{% load comments %}
{% get_comment_count for entry as comment_count %}
{% get_comment_list for entry as comment_list %}
{% if comment_list|length > 0 %}
    <div class="row-fluid comment">
    {% for comment in comment_list %}
        {% if comment != comment_list.0 %}
            <hr />
        {% endif %}
        <strong>{{ comment.user_name }} - {{ comment.submit_date }}</strong><br />
        <div class="comment-content">
            {{ comment.comment|markdown:"post_style" }}
        </div>
    {% endfor %}
    </div>
{% endif %}
<div class="row-fluid comment">
    <h3>{% trans "Add your own comment" %}:</h3>
    {% if form %}{% else %}
        {% get_comment_form for entry as form %}
    {% endif %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
            {% if field.html_name == "name" or field.html_name == "email" or field.html_name == "url" or field.html_name == "comment" %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-inline">
                                {% for e in field.errors %}
                                    {{ e|escape }} 
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="control-group" style="display:none;">
                    <div class="controls">{{ field }}</div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <input type="submit" id="post-button" class="btn btn-primary" name="submit" value="Post">
                <button id="preview-button" class="btn" onclick="openPreview(); return false;" data-loading-text="Loading..." autocomplete="off">Preview</button>
            </div>
        </div>
    </form>
    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown allowed</a>
</div>
<div id="preview" title="Comment Preview">
    <strong id="preview-header"></strong><br />
    <div id="preview-content"></div>
</div>
<script>
    $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        } 
    }); 
    function openPreview() { 
        $('#preview-button').button('loading');
        $.ajax({
            type:'POST',
            url:"{% url markdown_comment %}",
            dataType:"json",
            data: {'comment': $('#id_comment').val()},
            success: function(data) {
                $('#preview-content').html(data['comment']);
                if ($('#id_url').val().length > 0) {
                    $('#preview-header').html('<a href="'+$('#id_url').val()+'">'+$('#id_name').val()+'</a> - {% now "N j, Y, h:i a" %}');
                } else {
                    $('#preview-header').text($('#id_name').val()+' - {% now "N j, Y, h:i a" %}');
                }
                var wWidth = $(window).width();
                var dWidth = wWidth * 0.6;
                $('#preview').dialog({
                    width: dWidth,
                    buttons: {
                        Post: function() {
                            $('#post-button').click();
                        },
                        Cancel: function() {
                            $(this).dialog('close');
                        }
                    }
                });
                $('#preview-button').button('reset');
            }
        });
    }
</script>
{% endblock %}
