{% extends 'blog/base.html' %}
{% block title %}<title>Tyler Hallada - Blog</title>{% endblock %}
{% block content %}
        {% load i18n %}
    {% load markdown_deux_tags %}
    {% for entry in latest_entries %}
    <div class="row-fluid header">
        <div class="entry-title">
            <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
        </div>
        <div class="entry-date">
            <small>Posted on {{ entry.pub_date }}</small>
        </div>
    </div>
    <div class="row-fluid content">
        <p>{{ entry.text|markdown:"post_style" }}</p>
        {% load comments %}
        {% get_comment_count for entry as comment_count %}
        <a href="{{ entry.get_absolute_url }}#comments">
                <i class="icon-comment"></i> <strong>{{ comment_count }}</strong> {% blocktrans count counter=comment_count %}Comment{% plural %}Comments{% endblocktrans %}
            </a>
        <br />
    </div>
    {% empty %}
        <p>{% trans "There are no blog entries to show." %}</p>
    {% endfor %}
    <p class="archive-link"><a href="/blog/archive/">See all entries in the archive.</a></p>
{% endblock %}
