/* Base Formatting */
body {
    background: url(/static/admin/img/creampaper.png) repeat;
    padding-top:40px;
}
a {
    color:Maroon;
}
a:visited {
    color:#3C0101;
}
a:hover {
    color:#3C0101;
}
a.brand {
    color:Azure !important;
}
#navtab {
    background: White;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.content {
    background: White;
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.header {
    background: White;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Detail Formatting */
.row-fluid.comment {
    background:White;
    border-radius:10px;
    padding:10px;
    margin-top: 20px;
}
.comment-content {
    margin-left:20px;
}
.comment-form {
    width:100%;
}
#id_comment {
    width:75%;
}
.comment-form.label {
    width:10%;
}
.comment-form.buttons {
    text-align:right;
    margin-right:25%;
}

/* Index Formatting */
.entry-title {
    float:left;
}
.entry-date {
    float:right;
}
