/* Base Formatting */
body {
    background:Azure;
    padding-top:40px;
}
a {
    color:Maroon;
}
a:visited {
    color:#3C0101;
}
a:hover {
    color:#3C0101;
}
a.brand {
    color:Azure !important;
}
.row.header {
    background:White;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:10px;
}
.row.content {
    background:White;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:10px;
}
.row.sidebar {
    background:White;
}

/* Detail Formatting */
.row.comment {
    background:White;
    border-radius:10px;
    padding:10px;
}
.comment-content {
    margin-left:20px;
}
.comment-form {
    width:100%;
}
#id_comment {
    width:75%;
}
.comment-form.label {
    width:10%;
}
.comment-form.buttons {
    text-align:right;
    margin-right:25%;
}

/* Index Formatting */
.entry-title {
    float:left;
}
.entry-date {
    float:right;
}
