body {
    background:Wheat;
    padding-top:40px;
}
a {
    color:Maroon;
}
a:visited {
    color:#3C0101;
}
a:hover {
    color:#3C0101;
}
a.brand {
    color:Azure !important;
}
.row.header {
    background:White;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:10px;
}
.row.content {
    background:White;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:10px;
}
.row.comment {
    background:White;
    border-radius:10px;
    padding:10px;
}
.comment-content {
    margin-left:20px;
}
.span8 {
    margin-left:0px;
}
.span4 {
    text-align:right;
    margin-top:10px;
    margin-right:0px;
}
